*{
    margin: 0;
    padding: 0;
}
body{
background-color: #323232;
color: white;
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 5px solid #fff;

}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

